.buttonsContainer {
    display: flex;
    gap: 24px;
    margin-top: 33px;
}

.responseContainer {
    display: flex;
    margin: 90px 0;
}

.imageContainer {
    margin: 0 90px;
}

.image {
}

.textContainer{
    margin: 30px 70px 30px 0;
}

.code {
    color: rgb(0, 0, 0);
    font-family: Montserrat, sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 37px;
    letter-spacing: 0;
    text-align: left;
}

.text {
    color: rgb(0, 0, 0);
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0;
    text-align: left;
}
.info {
    color: rgb(0, 0, 0);
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0;
    text-align: left;
}