.tech {
    width: 50vw;
    /*список технологий*/
    color: rgb(0, 0, 0);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
}

.developer {
    color: rgb(0, 0, 0);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    /*список developers*/
}

.techHeader {
    width: 50vw;
    /*tech [--]*/
}

.developerHeader {
    /*developer [--]*/
}

.row {
    display: flex;
    /*блок который отвечает за блок где списки*/
    margin: 0 0 50px 17px;
}

.rowHeader {
    display: flex;
    background: rgb(229, 229, 229);
    width: fit-content;
    margin: 35px 0 15px 10px;
    padding: 5px;
    color: rgb(0, 0, 0);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0;
    text-align: left;
    /*блок который отвечает за блок где названия списков*/
}

.loading {
    position: absolute; /* Абсолютное позиционирование для размещения поверх таблицы */
    top: 92%; /* Центрирование по вертикали */
    left: 40%; /* Центрирование по горизонтали */
    transform: translate(-50%, -50%); /* Центрирование элемента */
    width: 50px; /* Ширина крутилки */
    height: 50px; /* Высота крутилки */
    border: 8px solid rgba(0, 102, 204, 0.2); /* Полупрозрачный ободок */
    border-top: 8px solid rgb(0, 102, 204); /* Цветная верхняя часть */
    border-radius: 50%; /* Округлость для создания крутилки */
    animation: spin 1s linear infinite; /* Анимация крутилки */
}

@keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}
