.radio {
    color: rgb(0, 0, 0);
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    text-align: left;
}

.radio::before {
    background: rgb(0, 0, 0);
}


.radio:checked::before {
    background: rgb(0, 0, 0);
}

.label {
    color: rgb(0, 0, 0);
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    text-align: left;
}

.options {
    display: flex;
    flex-direction: column;
    margin-left: 127px;
}
