.buttonsContainer {
    display: flex;
    gap: 21px;
    margin-top: 22px;
}

.clock {
    margin: 35px 0 0 70px;
}

.watch {
    color: rgb(0, 0, 0);
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
}

.watch strong {
    font-weight: 600;
    font-size: 20px;
}

.more {
    color: rgba(0, 0, 0, 0.5);
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    text-align: left;
}