.container {
    margin-top: 90px;
}

.wrapper {
    width: 280px;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 20px 20px;
}

.number {
    color: rgb(0, 0, 0);
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0;
    text-align: left;
}
